*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(233, 233, 233, 0.732);
}

.navbar{
    background-color: black;
    padding: 15px;
    color: white;
    text-align: center;
}

#logo h2{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input{
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
}

input{
    padding: 10px;
    width: 100%;
}

button{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
