*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure
}
.navbar{
    background-color: black;
    padding: 15px;
    color: white;
    text-align: center;
}

.container{
   
    padding: 15px;

}

.card{
    background-color: rgb(240, 240, 240);
    padding: 18px;
    border-radius: 8px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p{
    margin-bottom: 10PX;
    font-size: 14PX;
}

button{
    background-color: blue;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}